* {
    box-sizing: flex;
    flex-direction: column;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

header {
    padding: auto;
    text-align: left;
    background-color:darkcyan;
    color: magenta;
}

nav {
    display:flex;
    justify-content: flex-end;
    background-color: blueviolet;
}

