/* CSS Stle Sheet */
* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.hero {
    height: 100%;
    width: 100%;
    background-image: url(/repos/portfolio-/Images/back\ 3.jpg);
    background-size: cover;
    background-position: center;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 4%;
    padding-bottom: 4%;
    padding-right: 4%;
    
}
.logo {
    color: cyan;
    font-size: 300%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;

}
span {
    color: orange;
}
nav ul li {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
}
nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bolder;
    
}
nav ul li a:hover {
    color: blueviolet;
    transition: .3s;
}
h3 {
    color: cyan;
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
    font-weight: bold;
    font-size: 25px;
}
img {
    position: static;
    margin-left: 150px;
}
section p {
    display: flexbox;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    flex-wrap: wrap;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 120%;
    margin-top: 10px;
    margin-left: 50%;
    color: cyan;
    border-left: 20px ;
}
h4 {
    color: cyan;
    display: flex;
    justify-content: flex-start;
    margin-top: 200px;
    font-size: 25px;
    padding-left: 10%;
}
h5 {
    color: cyan;
    display: flex;
    justify-content: flex-start;
    margin-top: 300px;
    font-size: 25px;
    padding-left: 10%;
}
