/* CSS Stle Sheet */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
} */


body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
     
    /* background-color: #030504; */
}
header {
    position: relative;
    width: 200%;
    top: 0;
    left: 0;
    padding: 0px;
    background-color: #c7a54e;
    display: flex;
    justify-content: space-between;
}
.logo {
    font-size: 50px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #030504;
    color:whitesmoke
    
}

    /* font-family: Georgia, 'Times New Roman', Times, serif
    font-weight: 900;
    top: 0px;
    left:0;
    width: 100%;
    padding: 1%;
    background:#184d9c83;
    color: #c70c0c;
    display: flex;
    justify-content: space-between;
    align-items: center; */
    

.navbar  {
    top: 00px; ;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    background-color: #41a6d4;
    text-align: justify;
    word-spacing: 15px;
    padding: 10px;
    transition: .3s;

}

.navbar a{
    color: white;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
}


.navbar a:hover {
    color: #ec441ab7 ;
}


/* h1 {
    font-size: 300%;
    font-style: italic;
} */

h2 {
    margin: 2%;
    font-size: 170%;
    
}





h2 {
    display: flex;
    justify-content: right ;
    margin-right: 20%;
    font-size: 250%;
    color: #141401;

}
.about div {
    

}
/* .about div{
    display: flexbox;
    max-width: 20px;
    flex-wrap: wrap;
    height:100vh;
    width: 100%;
    font-weight: 50px;
    color: #c7a54e;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: right;
    font-size: 20px;
    margin-left: 0%;
} */








