/* CSS Stle Sheet */
/* general  */
* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
/* background  */
.hero {
    height: 100%;
    width: 100%;
    background-image: url(/repos/portfolio-/Images/back\ 3.jpg);
    background-size: cover;
    background-position: center;
}

/* nav bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 4% 4% 4%;
      
}
/* my name */
.logo {
    color: cyan;
    font-size: 300%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;

}
/* Change color of last name */
span {
    color: #f4af2d;
}
/* details for nav links */
nav ul li {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
}
/* nav text */
nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bolder;
    font-size: 25px;
    
}
/* color change when hover over nav links */
nav ul li a:hover {
    color: blueviolet;
    transition: .3s;
}
/* About Me */
h3 {
    color: cyan;
    display: flex;
    justify-content: flex-start;
    padding-top: 5%;
    padding-bottom: 30%;
    font-weight: bold;
    font-size: 40px;
    margin: 0 auto;

}
/* pic of c. duffey */
/* img {
    position: static;
    margin-left: 10px;
    flex-direction: column;
} */
.about .L-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* about me section */
section p {
    display: flexbox;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    flex-wrap: wrap;
    padding: 25px;
    letter-spacing: 1px;
    font-size: 200%;
    margin-top: 10px;
    color: #f4af2d;
}

/* contact */
h5 {
    display: flex;
    margin-top: 50px;
    

    
}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about div {
    height: 40vh;

}

.L-side {
    display: flex;
    flex-direction: column;
    flex-basis: 23%;
    border-right: white 3px solid;
    text-align: center;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 30px;

}
.r-side {
    flex-basis: 77%;
    padding-left: 10px;
}
.Portfolio .r-side {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Portfolio .r-side a {
    border: 3px solid white;
    height: 180px;
    margin: 0.5em; 
    flex-basis: calc(50% - 1em); 
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    font-size: 0.9rem;  
    color: #f4af2d;
    text-decoration: none;
    
}
.Portfolio .r-side a:hover {
    color: transparent;
    transition: .3s;
}
.Portfolio .r-side a div {
    padding: 8px 10px;
    width: 80px;
    background-color: transparent;
    font-weight: 800;
    font-size: 25px;
    z-index: 100;
}
.Portfolio .r-side a:first-child {
    min-height: 420px;
    flex-basis: 100%;
}
.code-refactor {
    background-image: url(../Images/mockup-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.tbd {
    background-image: url(../Images/coming\ soon.jpg);
    background-size: cover;
    background-position: center;
}

.right-side {
    flex-basis: 70%;
      
}

.Contact .right-side  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #f4af2d;
    align-self:center ;
    font-size: 32px;
}

.Contact .right-side a div {
    /* border: 3px solid white; */
    height: 180px;
    margin: 0.5em; 
    flex-basis: calc(50% - 1em); 
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
    font-size: 0.9rem;  
    
}



